body{
    background:linear-gradient(120deg,rgba(2, 244, 2, 0.649),rgba(155, 255, 4, 0.516),rgba(255, 255, 0, 0.437));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}
.main{
    text-align: center;
    width: 450px;
    height: 325px;
    background-color:transparent;
    border: 3px solid black;
    margin: auto;
    position: relative;
    top: 220px;
    box-shadow: 5px 5px 30px 5px white;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    text-shadow: 5px 5px 5px white;
}

label{
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
    font-size: large;
    text-shadow: 5px 5px 5px white;
}
#weight, #height{
    width: 300px;
    height: 25px;
    margin: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    text-align: center;
}
.resBtn{
    background-color: green;
    color: white;
    border: 1px solid white;
    height: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#result{
    margin: 10px;
    margin-left: 72px;
    background-color: white;
    width: 303px;
    height: 25px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    text-align: center;
}